body {
    background-color: #eeeeee;
    overflow-x:hidden ;
    overflow-y: hidden;
}

.left-bar{
    position: absolute ;
    width: 20%;
    height: calc(100vh - (-1.5em + 18px));
   
    background: transparent;
}
.left-bar h4{
    color: #15e568;
    
    margin-top: -12%;
}
.right-bar h4{
    color: #15e568;
   
    margin-top: -12%;
}

.right-bar{
    position: absolute ;
    left: 80%;
    width: 20%;
    height: calc(100vh - (-1.5em + 18px));
   
    background: transparent;
}


#T-title1{
    position:absolute;
    top: 8%;
    color: white;
}

#T-title2{
    position:absolute;
    top: 8%;
    color: white;
}

#result{
    text-align: center;
    color: white;
    font-size: 80px;
    position: absolute;
    left:-22%;
    top: 15%;
}

#f-result{
    text-align: center;
    color: white;
    font-size: 80px;
    position: absolute;
    left:-2%;
    top: 35%;
}

#result2{
    text-align: center;
    color: white;
    font-size: 80px;
    position: absolute;
    left:22%;
    top: 15%;
}

.q-title{
    color: green;
    position: absolute;
    top: 20%;
   
    font-size: 70px;
}

/* // question page */
#page3{
    /* background: #030320; */
    background: url(4.gif);
    height: calc(100vh - (-1.5em + 18px));
    position: absolute;
    top: 0%;
    left:0% ;
    width: 100%;
   
}
.grid {
    
    width: 100%;
    height: calc(100vh - (0em + 18px));
    margin: 0 auto;
    background-color: lightgreen;
   
    
}

.grid h1 {
    font-family: "sans-serif";
    
    font-size: 60px;
    text-align: center;
    color: green;
    padding: 2px 0px;
    position: absolute;
    left: 38%;
    top: 35%;
    
}

.score2-container , .score1-container{
    position: absolute;
    top: 34%;
    left: 25%;
    background: white;
    color: #15e568;
    width: 50%;
    height: 140px;
    border-radius: 35px;
    border: 10px solid grey;
}

/* .score1-container{
    position: absolute;
    top: 34%;
    left: 25%;
    background: white;
    color: #15e568;
    width: 50%;
    height: 140px;
    border-radius: 35px;
    border: 10px solid grey;
} */



#count-score, h4  {
    
    color: forestgreen;
   position: absolute;
   left: 25%;
    font-size: 60px;
    top: 30%;
    width: 20%;
}
#count-score{
    position:absolute;
    left: 38%;
    top: 18%;
}

 #question-space {
    font-family: "monospace";
    font-size: 40px;
    color: white;
    /* position: absolute;
    left:30%;
    top:40%; */
    width: 100%;
    height: 100%;
     
  
}

.buttons {
    
    width: 70%;
    height: 190px;
    position: absolute;
    top: 60%;
    left: 25%;
    
}

#btn-0 {
    width: 30%;
    height:50px;
    background:rgb(209, 150, 0);
    border: none;
    font-size: 25px;
    color:white;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    
}

#btn-1 {
    width: 30%;
    height:50px;
    background:rgb(209, 150, 0);
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    left: 45%;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#score{
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 20%;
    top: 35%;
}

#score1{
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 60%;
    top: 35%;
}

#Rmessage{
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 35%;
    top: 80%;
}


#btn-2 {
    width: 30%;
    height:50px;
    background:rgb(209, 150, 0);
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    top:70%;
    left: 0%;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#btn-3 {
    width: 30%;
    height:50px;
    background:rgb(209, 150, 0);
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    top:70%;
    left: 45%;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#btn-0:hover, #btn-1:hover, #btn-2:hover, #btn-3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn-0:focus, #btn-1:focus, #btn-2:focus, #btn-3:focus {
    outline: 0;
}

#progress {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 90%;
    left: 40%;
}
#round-progress {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 90%;
    left: 60%;
}

#nextround{
    width: 30%;
    height:100px;
    background: darkslateblue;
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    top:75%;
    left: 35%;

}
#timer{
    color:black;
    font-size:80px;
position: absolute;
top: -20%;
left: 120%;
margin: auto;
    
   
}

.timer-container{
    background: white;
    border: 4px solid rgb(73, 28, 28);
    color: yellowgreen;
    width: 30%;
    height: 90px;
    position: absolute;
    top: 5%;
    border-radius:20px;
    left: 35%;
    margin:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.timer-text{
    font-size: 60px;
    position: absolute;
    top: 11%;
    left: 20%;
}

.exit-q{
    width: 5%;
 
    position: absolute;
    left: 25%;
    top:90%;
    height: 50px;
}

.fa-times{
    font-size: 30px;
    color: red;
}

#sheldon{
    width: 15%;
    height: 220px;
    position: absolute;
    top: 5%;
    left: 43%;
    border-radius: 50%;
}
#count-score1{
    color: forestgreen;
    font-size: 60px;
    position:absolute;
    left: 38%;
    top: 18%;
}


/* rounds */

#rounds{
    color:black;
    font-size:60px;
position: absolute;
top: 2%;
left: 110%;
margin: auto;
    
   
}

.rounds-container{
    background: white;
    border: 4px solid rgb(73, 28, 28);
    color: Black;
    width: 30%;
    height: 90px;
    position: absolute;
    top: 20%;
    border-radius:20px;
    left: 35%;
    margin:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.rounds-text{
    font-size: 60px;
    position: absolute;
    top: 11%;
    left: 20%;
}

.question-holder{
    width:50%;
    height: 90px;
   
    position: absolute;
    left: 35%;
    top:40%;
}

.btn{
    width: 40%;
    height: 50px;
    border-radius: 11px;
    border: rgb(99, 148, 0) 4px solid ;
    font-size: larger;
 
    position: absolute;
    left: 80%;

}
.btn:hover{
    color:white;
    background: rgb(99, 148, 0);
    box-shadow:0px 0px 30px #00c020;
  transition: all 0.2s ease-in;
}