@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}



.reg-wrapper{
  max-width: 350px;
  width: 100%;
  height: 50%;
  background: #fff;
  padding: 60px 45px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}

.reg-wrapper .reg-title{
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #3aaf9f;
}

.reg-wrapper .social_media{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reg-wrapper .social_media .item{
  margin: 0 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  color: #eeeeee;
  transition: all 0.5s ease;
}

.reg-wrapper .social_media .item:hover{
  border: 2px solid #3aaf9f;
  color: #3aaf9f;
}

.reg-wrapper .form .input_field{
  position: relative;
  margin-bottom: 10px;
}

.reg-wrapper .form .input_field .input{
  width: 100%;
  padding: 12px;
  padding-left: 30px;
  border: none;
  background: #eeeeee;
}

.reg-wrapper .form .reg-btn{
  width: 70%;
  margin: 20px auto 0;
  background: #3aaf9f;
  text-align: center;
  padding: 12px;
  border-radius: 25px;
  border: none;
}

.reg-wrapper .form .reg-btn a{
  color: #fff;
}

.reg-wrapper .form .input_field i{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #1d2120;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1d2120;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #1d2120;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #1d2120;
}



/* // reg team 2 */



.reg-wrapper2{
    max-width: 350px;
    width: 100%;
    height: 50%;
    background: #fff;
    padding: 60px 45px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
  }
  
  .reg-wrapper2 .reg-title2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #3aaf9f;
  }
  
  .reg-wrapper .social_media{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .reg-wrapper .social_media .item{
    margin: 0 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    cursor: pointer;
    color: #eeeeee;
    transition: all 0.5s ease;
  }
  
  .reg-wrapper .social_media .item:hover{
    border: 2px solid #3aaf9f;
    color: #3aaf9f;
  }
  
  .reg-wrapper2 .form2 .input_field2{
    position: relative;
    margin-bottom: 10px;
  }
  
  .reg-wrapper2 .form2 .input_field2 .input2{
    width: 100%;
    padding: 12px;
    padding-left: 30px;
    border: none;
    background: #eeeeee;
  }
  
  .reg-wrapper2 .form2 .reg-btn2{
    width: 70%;
    margin: 20px auto 0;
    background: #3aaf9f;
    text-align: center;
    padding: 12px;
    border-radius: 25px;
    border: none;
  }
  
  .reg-wrapper2 .form2 .reg-btn2 a{
    color: #fff;
  }
  
  .reg-wrapper2 .form2 .input_field2 i{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #1d2120;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1d2120;
  }
  ::-moz-placeholder { /* Firefox 19+ */
   color: #1d2120;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #1d2120;
  }




  .reg-btn{
      position: absolute;
  }

  .reg-btn2{
    position: absolute;
}





  /* teams header */

  .teams-header{
      color:white;
      font-size: 50px;
      position: absolute;
      top: 10%;
  }



  .ready{
    
    width: 10%;
    position: absolute;
    top: 85%;
    left: 35%;
    width: 400px;
    height: 50px;
}

#btn-ready{    width: 100%;
    height: 100%;
    border: 4px solid rgb(13, 80, 13);
    border-radius: 20px;
    background: transparent;
    color: white;

}

#btn-ready:hover{
   
    color:white;
    background: rgb(99, 148, 0);
    box-shadow:0px 0px 30px #00c020;
  transition: all 0.2s ease-in;
}

.exit{
    width: 5%;
    
    position: absolute;
    left: 90%;
    top:85%;
    height: 50px;
}
.btn-exit{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: transparent;
    
}

.btn-exit:hover{
    color:rgb(0, 0, 0);
    background: plum;
    box-shadow:0px 0px 30px #e6412b;
  transition: all 0.2s ease-in;
  border: none;
}

#team1-list, #team2-list{
    color: white;
    /* position: absolute;
    top: 70%;
    left: 30%; */
    /* border: 4px  solid goldenrod; */
    
    margin-top: 140%;    
}

.c1, .m1, .l1 ,.c2, .m2 ,.l2{
    color:white;
    font-size: 30px;
    text-align: center;
}