/* body wrapper */


#bodyy{
width: 100%;
margin: 0px;
padding: 0px;
height: calc(100vh - (-1.5em + 18px));

background: url('pexels-photo-2885320.jpeg');
}

.left-image{
    height: 120px;
    width: 170px;
   position: absolute;
   top:8%;
   left:15%;
  
    
}
img{
    width: 100%;
    Height: 100%;
}

    #logo:hover{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    }

h1{
    width: 100%;
    Height: 100%; 
    text-align: center;
    font-size: 70px;
    font-family: Segoe UI; 
    
    
}
.middle-text h1 {
    color: white;
    width: 30%;
   position: absolute;
    left: 35%;
    top: 3%; 
    font-size: 70px;
}
.middle-text:hover{
    color: #fdec6e;
  text-shadow:0px 0px 30px #00c020;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transition: all 0.2s ease-out;
}

.right-side{
    width: 10%;
    height: 10%;
}
.center-img{
    width: 30%;
    height: 70%;
    position: absolute;
   
    left: 34%;
    top:20%
}

.setting{
    width: 19%;
    height: 15%;
    
    position: absolute;
    bottom: -2%;
    left:-72%;
}
#settings:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}
button{
  
    background: transparent;
    color: white;
    }



#btn1{
    width: 80%;
    height: 50px;
    border-radius: 11px;
    border: rgb(99, 148, 0) 4px solid ;
    font-size: larger;
    position: absolute;
    left: 5%;
    top: 95%;
    
}

#btn1:hover{
    color:white;
    background: rgb(99, 148, 0);
    box-shadow:0px 0px 30px #00c020;
  transition: all 0.2s ease-in;
}

#btn2{
    border-radius: 11px;
    border: rgb(195, 156, 26) 4px solid ;
    width: 40%;
    position: absolute;
    left: 97%;
    top: 95%;
    height: 50px;
}
#btn2:hover{
    color:white;
    background: rgb(195, 156, 26);
    box-shadow:0px 0px 30px rgb(195, 156, 26);
    transition: all 0.2s ease-in;
}

/* modals */

.Round {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.219); /* Black w/ opacity */
  }

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.219); /* Black w/ opacity */
  }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: url(4.gif); /* Black w/ opacity */
  }
  
.modal-head{
    font-size: 70px;
    position: absolute;
    top: 20%;
}

.donald{width: 100%;
    height: 100%;
}
.welcome-img{
width:30%;
height: 90%;
position: absolute;
}

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    
    border: 1px solid #888;
    width: 10%;
    height:80%;
  }
  #trophy-ok{
      position: absolute;
      left: 40%;
  }

  #next-round{
    
    margin-left: -50%;
}

  .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height:80%;
    position: absolute;
    left: 60%;
    top: 3%;
  }

  .Round-content1 {
    background-color: #fefefe;
    ;
    margin: auto;
    padding: 20px;
    border: 7px solid rgb(197, 170, 15);
    width: 50%;
    height:60%;
    position: absolute;
    left: 25%;
    top: 18%;
  }
  .round-text{
      text-align: center;
      font-size: 70px;
      
  }
  .win-text{
    text-align: center;
    font-size: 40px;
    
}

  .team1-box{
      width: 30%;
      height: 160px;
      background: #94a657;
      position: absolute;
      left: 10%;
      top: 35%;
      border-radius: 3%;
      border: 4px solid rgb(114, 99, 15);
  }

  .team2-box{
    width: 30%;
    height: 160px;
    background: #94a657;
    position: absolute;
    left: 60%;
    top: 35%;
    border-radius: 3%;
    border: 4px solid rgb(114, 99, 15);
}

.first-header , .second-header{
    text-align: center;
    margin-top: 2%;
    color: white;
}

.r-container-score1, .r-container-score2{
    width: 50%;
   height: 100px;
   margin-top:-10%;
   color: white;
   margin-left: 25%;
   font-size: 100px;
    
};

#score1-round, #score2-round{
    font-size: 50px;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-button{
      width: 30%;
      height: 10%;
      position: absolute;
      top: 80%;
      left: 33%;
      background: transparent;
      color:black;
      font-size: 25px;
      border-radius: 25px;
      border: 2px solid green;

  }

  #modal-button:hover{
      background: greenyellow;
      color:white;
  }

  /* //page2 */

#page2  {
background:url('5.gif') ;   
 width: 100%;
 height: 748px;
    margin: 0px;
    position: absolute;
    left:0%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.hide{
    display:none;
}

.trophy-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100px; /* Full width */
    height: 200px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    
  }
.btn{
    position: absolute;
    left:90%;
    top: 83%;
    cursor:pointer;
    display:inline-block;
    padding:20px;
    background: #94a657;
    border-radius: 4px;
    color: #fff;
    text-transform:uppercase;
    line-height:20px;
    @include transition(box-shadow .25s ease);
    &:after{
       content:'';
       display:inline-block;
       color: #94a657;
       background:#fff;
       font-family: 'FontAwesome';
       padding:3px;
       border-radius: 50%;
       height:20px;
       width:20px;
       margin-left:8px;
       padding-left: 4.5px;
       padding-right:1.5px;
    }
    &.playing{
        &:after{
          padding:3px;
          content:'';
       }
    }
 }


 /* Timer css */

 #timer{
     position: absolute;
     left: 10%;
     font-size: 100px;
 }




 /* // Start page Timer */

 .clock-header{
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  
  #clockdiv{
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
      position:absolute;
      top: 10%;
      left:70%

  }
  
  #clockdiv > div{
      padding: 10px;
      border-radius: 3px;
      background: #00BF96;
      display: inline-block;
  }
  
  #clockdiv div > span{
      padding: 15px;
      border-radius: 3px;
      background: #00816A;
      display: inline-block;
  }
  
  .smalltext{
      padding-top: 5px;
      font-size: 16px;
  }



  .demo-header{
      font-size: 30px;
      color: white;
      position: absolute;
      top: 7%;
      left:70%;
  }

  

 #demo{
     background: red;
    position: absolute;
    top:12%;
    left: 70%;
    color: #fff;
    font-size: 60px;
 }

 input ::placeholder {
    color: red;
  }


