body {
    background-color: #eeeeee;
    overflow-x:hidden ;
    overflow-y: hidden;
}



#T-title{
    position:absolute;
    color: white;
}

#result{
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    left:-2%;
    top: 65%;
}

.q-title{
    color: green;
    position: absolute;
    top: 20%;
    left: -5%;
}

/* // question page */
#page3{
    background: #030320;
    
    height: calc(100vh - (0em + 18px));
    position: absolute;
    top: 0%;
    left:0% ;
    width: 100%;
   
}
.grid {
    
    width: 100%;
    height: calc(100vh - (0em + 18px));
    margin: 0 auto;
    background-color: lightgreen;
   
    
}

.grid h1 {
    font-family: "sans-serif";
    
    font-size: 60px;
    text-align: center;
    color: green;
    padding: 2px 0px;
    position: absolute;
    left: 38%;
    top: 35%;
    
}

#count-score, h4  {
    color: black;
   position: absolute;
   left: 70%;
    font-size: 60px;
    background: coral;
    width: 20%;
}

 #question-space {
    font-family: "monospace";
    font-size: 50px;
    color: white;
    position: absolute;
    left:30%;
    top:40%;
    background: gray;
  
}

.buttons {
    
    
    width: 70%;
    height: 190px;
    position: absolute;
    top: 60%;
    left: 25%;
    
}

#btn-0 {
    width: 30%;
    height:50px;
    background: darkslateblue;
    border: none;
    font-size: 25px;
    color:white;
    
}

#btn-1 {
    width: 30%;
    height:50px;
    background: darkslateblue;
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    left: 45%;
}

#score{
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 40%;
    top: 70%;
}


#btn-2 {
    width: 30%;
    height:50px;
    background: darkslateblue;
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    top:70%;
    left: 0%;
}
#btn-3 {
    width: 30%;
    height:50px;
    background: darkslateblue;
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    top:70%;
    left: 45%;
}

#btn-0:hover, #btn-1:hover, #btn-2:hover, #btn-3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn-0:focus, #btn-1:focus, #btn-2:focus, #btn-3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 28px;
    position: absolute;
    top: 90%;
    left: 10%;
}

#nextround{
    width: 30%;
    height:100px;
    background: darkslateblue;
    border: none;
    font-size: 25px;
    color:white;
    position: absolute;
    top:50%;
    left: 35%;

}