
 /* team placeholder */
.inputTN1{
    text-align: center; 
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.inputTN2{
    text-align: center; 
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}



.first{
    width: 20%;
    height:50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin-top:5%;
    margin-left: 5%;
    margin-right: 14%;
    background: white;
    color: black;
    padding-left: 20px;
}
.first:hover{
    
    -webkit-box-shadow: 0px 0px 60px 0px black;
   -moz-box-shadow:    0px 0px 60px 0px black;
   box-shadow:         0px 0px 60px 0px black;
}

.second{
    width: 20%;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin-right: 14%;
    background: white;
    color: black;
    padding-left: 20px;
}
.second:hover{
    
    -webkit-box-shadow: 0px 0px 60px 0px black;
   -moz-box-shadow:    0px 0px 60px 0px black;
   box-shadow:         0px 0px 60px 0px black;
}

.third{
    width: 20%;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    background: white;
    color: black;
    padding-left: 20px;
}
.third:hover{
    
    -webkit-box-shadow: 0px 0px 60px 0px black;
   -moz-box-shadow:    0px 0px 60px 0px black;
   box-shadow:         0px 0px 60px 0px black;
}

.ready{
    
    width: 10%;
    position: absolute;
    top: 85%;
    left: 35%;
    width: 400px;
    height: 50px;
}

#btn-ready{    width: 100%;
    height: 100%;
    border: 4px solid rgb(13, 80, 13);
    border-radius: 20px;
    background: transparent;
    color: white;

}

#btn-ready:hover{
   
    color:white;
    background: rgb(99, 148, 0);
    box-shadow:0px 0px 30px #00c020;
  transition: all 0.2s ease-in;
}

.exit{
    width: 5%;
    
    position: absolute;
    left: 90%;
    top:85%;
    height: 50px;
}
.btn-exit{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: transparent;
    
}

.btn-exit:hover{
    color:rgb(0, 0, 0);
  
    box-shadow:0px 0px 30px #e6412b;
  transition: all 0.2s ease-in;
  border: none;
}