body{
    background-image: url(tech.gif);
}

.h1{
    font-size: 120px;
    text-align: center;
    font-style: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    position: absolute;
}


button{
  
    background: transparent;
    color: white;
    }



#btn1{
    width: 20%;
    height: 50px;
    border-radius: 11px;
    border: rgb(99, 148, 0) 4px solid ;
    font-size: larger;
    position: absolute;
    left: 40%;
    top: 90%;
    
}

#btn1:hover{
    color:white;
    background: rgb(99, 148, 0);
    box-shadow:0px 0px 30px #00c020;
}

.jeep{
    width: 1200px;
    height: 400px;
    margin: 15px;
    font-size: 25px;
    padding: 15px;
    border-color:black;
    border-width: 2px;
    /* border: none; */
    border-radius: 40px;
    position: absolute;
    left: 200px;
    top: 210px;
    background-color: lightgray;
    
}
/* teams */

.thisteam{
    width: 500px;
    height: 350px;
    margin: 5px;
    border-radius: 30px;
    background-color: transparent;
    text-align: center;
}

.thisteam1{
    width: 500px;
    height: 350px;
    margin: 5px;
    border-radius: 30px;
    background-color:transparent;
    left: 50%;
    top: 02%;
    position: absolute;
    text-align: center;
}

  
  